*
    {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
body
    {
        margin:0;
        padding: 10px;
    }
.contacts
    {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
.contact-card
    {
        border: 1px solid red;
        flex-basis: 250px;
        margin: 20px;
        padding: 20px;
    }
.contact-card img
    {
        width: 100%;
    }
.contact-card h3
    {
        text-align: center;
    }
.contact-card p
    {
        font-size: 20px;
    }